* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    

}
body{
    background-color: rgb(15, 15, 15);
    
}

li,a,button {
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: white;
    text-decoration: none;
}

header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
    z-index: 2;
    
}

.logo{
    cursor: pointer;
    margin-right: auto;
    height: 5vw;
}

.nav__links {
    list-style: none;
}

.nav__links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav__links li a {
    transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
    color:rgba(127,255,212,0.8);
}

button{
    margin-left: 20px;
    padding: 9px 25px;
    background-color: aquamarine;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    color: black;
}

button:hover{
    background-color: rgba(127,255,212,0.8);
}

.myself {
    z-index: -1;
    position: absolute;
    margin-top: -10%;
    top: 20%;
}
img{
    max-width: 100%;
    height: auto;
}

p{
    color: aquamarine;
    font-family: 'Oswald', sans-serif;
    font-size: 2vw;
    padding-bottom: 30px;
    max-width: 100%;
}

.cimlap {
    padding-left: 10vw;
    padding-top: 14vw;
    padding-top: 170px;

}
h1 {
    color:white;
    font-family: 'Oswald', sans-serif;
    font-size: 4vw;
    padding-top: 0;
    padding-bottom: 0;

}

.fodiv {
    height: 3000px;
    
}

.gomb button{
    margin-top: 3.5vw;
    padding: 10px;
    background-color: aquamarine;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    color: black;
    font-size: 1.5vw;
    margin-left: 0;
}

.gomb button:hover{
    background-color: rgba(127,255,212,0.8);
}

.portfolio{
    padding-left: 10vw;
    margin-top: 20vw;
    height: 500px;
}

.portfolio p {
    
        color: rgb(255, 255, 255);
        font-family: 'Oswald', sans-serif;
        font-size: 1.8vw;
        padding-bottom: 30px;
        
    
}

.portfoliojobb{
    float: right;
    width: 50%;
    margin-right: 2vw;
    padding-right: 2vw;
    padding-left: 2vw;
   
    

}
.portfoliojobb2{
    float: right;
    width: 50%;
    margin-right: 2vw;
    padding-right: 2vw;
    padding-left: 2vw;
    padding-top: 1vw;
    

}

.portfoliojobb2 p{
    font-size: 1.4vw;
    margin-bottom: 0.1vw;
    margin-top: 1.5vw;
    padding-bottom: 0;
    padding-top: 0vw;
}

.portfoliobal{
    float: left;
    width: 45%;
    

}

.portfoliojobb span{
    color: aquamarine;
    float: left;
    font-size: 1.6vw;
    
}

  h2{
    font-family: 'Oswald', sans-serif;
    font-size: 7vw;
    color: white;
    float: left;
    margin-right: 2vw;
    margin-top: -2%;
  }
html{
    scroll-behavior: smooth;
}

h3{
    color: white;
    font-family: 'Oswald', sans-serif;
    font-size: 5vw;
}
h4{
    color: black;
    font-family: 'Oswald', sans-serif;
    font-size: 2.5vw;
    float: left;
    padding-left: 1vw;
    background-color: aquamarine;
    border-radius: 10px;
    padding-top: 20px;
    margin-top: -5%;
    margin-left: 10px;
    padding-right: 1vw;
}

.row{
    margin: 10vw;
    
}
.image {
	display: inline-block;
	text-align:center;
	width: 33%;
	float: left;
}
figure {
	overflow: hidden;
	margin: 0 10px;
    border-radius: 10px;
    border: 4px solid aquamarine;
}

p {
	padding: 0 10px;
}
.image img {
	display: block;
	width: 100%;
	height: auto;
	cursor: pointer;
}
.image #zoom-In figure img {
	transform: scale(1);
	transition: 0.3s ease-in-out;
}
.image #zoom-In figure:hover img {
	transform: scale(1.2);
}

h5{
    text-align: center;
    color:whitesmoke;
    font-family: 'Oswald', sans-serif;
    font-size: 5vw;
    padding-bottom: 5vw;
    
}


